extends ../../layouts/common.pug
block content
    .container
        h1.text-center Login
        if errors
            each error in errors
                .alert.alert-danger.col-lg-4= error
        form.col-lg-4(action="/login" method="POST")
            .form-group
                label(for="email") Email
                input#name(type="text" name="email", class="form-control" placeholder="Email", value= values? values.email : '')
            .form-group
                label(for="password") Password
                input#name(type="text" name="password", class="form-control" placeholder="password" value= values? values.password : '')
            button.btn.btn-primary Login