html
    head
        title TOI DEP TRAI
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        section
                nav(class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;")
                    a(class="navbar-brand" href="#")
                        img(src="/images/tiktok-logo.svg" width="30" height="30" alt="")
                    ul.navbar-nav.mr-auto.ml-5
                        li.nav-item
                            a(href="/" class="nav-link") Home
                        li.nav-item
                            a(href="/users" class="nav-link") Users
                        li.nav-item
                            a(href="/users/create" class="nav-link") Create User
                        li.nav-item
                            a(href="#" class="nav-link") Log in
        block content
            