extends ../../layouts/common.pug
block content
    h1.text-center Create a new user
    form.form-inline.justify-content-center(action="/users/create" method="POST")
        .form-group
            input#name(type="text" name="name", class="form-control" placeholder="Nhập tên")
        button.btn.btn-primary.ml-2 Create